<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <h1 style="padding-left: 45%; padding-top:18%;">login</h1>
    <body style ="background-image:url('{% static 'css/login.png' %}');background-repeat:no-repeat;background-size:100;">
        {% comment %} {%load crispy_forms_tags %} {% endcomment %}
        {% block content %}
        <table >
        <form method="post">
            {% csrf_token %}
            {% if messages %}
          {% for msg in messages %}
            <h4>{{msg}}</h4>
          {% endfor %}
        {% endif %}
        {% comment %} {{ form|crispy }} {% endcomment %}
         {% for field in form%}
        <tr>
            <td>{{ field.errors }}</td>
        </tr>
        <tr>
            <td>{{ field.label_tag }}</td>
            <td> {{ field }} </td>
        </tr>
        
    {% endfor %} 
        </table>
        
    </br>
        <div id='submit'style="padding-left:45%;">
            <input type="submit" label="submit" name="label" value="login">&nbsp;&nbsp;&nbsp;<a href= {% url 'userregister' %}>Sign Up</a>
        </div>
    </form>
        {% endblock %}
        
    </body>
</html>